.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding-bottom: 1rem;
}

.introduction {
  padding: 10px;
}

.rulesHeadline {
  padding: 10px;
}
.listItems {
  padding: 5px;
  list-style: none;
}

@media screen and (min-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10vh;
    padding-bottom: 1rem;
  }
}
