.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-accent);
  min-height: 86vh;
}

.introduction {
  padding: 10px;
}

.rulesHeadline {
  padding: 10px;
}
.listItems {
  padding: 10px;
  list-style: none;
}

@media screen and (min-width: 800px) {
  .container {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
  .introduction {
    width: 60%;
  }
  .rulesHeadline {
    padding-top: 1.5rem;
  }
  .listItems {
    width: 80%;
    padding-left: 15.5%;
  }
}
