.card {
  width: 30%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin: 1vw;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 3px #888888;
}

.card:hover {
  box-shadow: 1px 1px 5px black;
}

.cardImg {
  width: 100%;
  object-fit: cover;
}
