.all {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.points {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
  text-decoration-color: var(--secondary-accent);
  font-size: 3vh;
}

.headline {
  font-size: 7vh;
}
.button {
  width: 70%;
  padding: 16px;
  bottom: 0;
  background-color: var(--secondary-accent);
  border-radius: 15px;
  font-size: 2.5vh;
  margin: 16px;
}
.overlay {
  width: 100vh;
  height: 100vh;

  position: absolute;
  z-index: 99;
}

.dropdown {
  min-width: 10vw;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .all {
    width: 70vw;
  }
  .button:hover {
    box-shadow: 5px 5px 1px black;
  }
}
