.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--fourth-color);
  padding: 16px;
}

.rules {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.navbarLogo {
  height: 80%;
}

.headline {
  color: white;
  font-size: 1.8rem;
}
