.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #c26dbc;
  padding: 10px;
}

.rules {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
}

.rules:hover {
  color: white;
}
