.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: aqua;
}

.aboutUs {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.projectLink {
  height: fit-content;
  width: fit-content;
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
