.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--fourth-color);
  bottom: 0;
}

.aboutUs {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-weight: bold;
}

.projectLink {
  width: 60px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
