* {
  background-color: var(--primary-accent);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-accent);
  min-height: 86vh;
}

.headline {
  padding: 2rem;
}

.container img {
  background-color: var(--fourth-color);
}
.groupImg {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 2rem;
  background-color: var(--fourth-color);
}
