* {
  background-color: var(--primary-accent);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40%;
}

.headline {
  padding-top: 5px;
  padding: 2vh;
}

.groupImg {
  display: flex;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: 1rem;
}

@media screen and (min-width: 800px) {
  .container {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .groupImg {
    max-width: 50%;
    max-height: 50%;
  }
}
